.sitemap {
  font-size: $font-size-lg;
  
  ul {
    list-style-type: none;

    &.sitemap-level-1 {
      margin-left: 0;
      padding-left: 0;
    }

    &.sitemap-level-2 {
      > li {
        margin: 0.5rem 0;
      }
    }

    &.sitemap-level-3 {

      li {
        display: inline-block;
        font-size: $font-size-sm;
        margin-right: 1rem;
      }
    }
  }
}
